
.basement {
    position: relative;
    width: 100%;
    height: 300px;
    top: 100%;

    /* с днем иксбокса #009900*/
    background: #15354F;
}

.mediaBottomBar{
    display: flex;
    justify-content: center;
}

.mediaBottomBar li{
    display: inline;
    margin: 50px 25px 50px 25px;
}

.mediaBottomBar a:hover{
    background: rgb(8, 3, 53);
    border-radius: 100%;
}

.mediaIco {
    width: 72px;
}

.text-bottom-one{
    /* padding: 0 256px; */

    position: absolute;
    bottom: 64px; 

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* width: 600px; */

    color:white;
    text-align: center;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}


@media screen and (max-width: 640px) {
    .mediaBottomBar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
    }

    .mediaBottomBar li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2% 0px;
    }

    .mediaIco {
        margin: 0 auto;
        /* width: 40%; */
    }

    .mediaBottomBar a:hover{
        background: none;
        border-radius: none;
    }

    .basement {
        height: auto;
    }

    .text-bottom-one{
        /* padding: 0 256px; */
    
        position: relative;
        bottom: auto; 
    
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        font-size: 4vw;


        padding: 20% 0;
    
    }
}