* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    /*overflow-x: hidden;*/
    min-width: 900px;
    /* width: 1920px; */
    background-color: #F7F7F7;
}

header{
    position: relative;
    /*position: sticky;*/
    top: 0px;
    width: 100%;
    height: 133px;


    /* с днем иксбокса #66FF00*/
    background: #FFFFFF;
    box-shadow: 0px 4px 102px -17px rgba(0, 0, 0, 0.13);
}

#logoSurgu{
    position: absolute;
    width: 111px;
    height: 110px;
    left: 100px;
    top: 11px;
}

#text-header-one{
    position: absolute;
    width: 405px;
    height: 34px;
    left: 120px;
    top: 20px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #232323;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#text-header-two{
    position: absolute;
    width: 419px;
    height: 46px;
    left: 120px;
    bottom: 10px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #0074BE;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.mediaBar{
    position: absolute;
    display:block;
    right: 100px;
    top: 50px;
    /*margin-top: 50%;*/
    /*margin-left: 80%;*/

}

.mediaBar li{
    display: inline;
    margin: 5px;
    /*padding: 5px;*/
}

.main {
    height: 640px;
}

.main__container {
    margin-top: 84px;
}

.main__bg {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 32px;
    position: absolute;

    /* font-size: 800px; */
    font-size: 40vw;
    font-weight: 700;
    /* line-height: 95.9%; */

    width: 100%;
    height: 70%;

    color: rgba(212, 235, 240, 0.47);

    z-index: -5;
}

.main__logo {
    /* padding-top: 128px; */
    text-align: center;
}

.main__logo__text__top {
    font-size: 48px;
    font-weight: 500;
    
    letter-spacing: 0.095em;
    line-height: 95.9%;

    color: #7B93A7;
    
}

.main__logo__text__main {
    margin-top: -48px;

    font-size: 224px;
    font-weight: 900;
    line-height: 280px;

    background-image: url("../images/logoMain.jpg");
    background-position: center;
    background-size: 800px;
    /*background-size: cover;*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main__logo__text__bottom {
    margin-top: -8px;
    font-weight: 300;
    font-size: 24px;
    line-height: 39px;
}

.main__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 36px;
    margin-top: 48px;
    
}

.btn {
    width: 350px; 
    height: 84px;

    font-family: 'Montserrat', sans-serif;

    background: linear-gradient(92.48deg, #50AFFF -2.13%, #0094FF 100%);
    box-shadow: 0px 0px 31px rgba(0, 133, 255, 0.81);
    color: white;

    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 95.9%;

    border-radius: 36px;
    border: none;

    text-decoration: none;
    box-sizing: border-box; 
}

.btn.secondary {
    background: #AFDBFF;
    border: 3px solid #79C6FF;
    box-shadow: none;
}

.btn:hover {
    background: white;
    color: #0074BE;
    font-weight: 600;
}

/* Калькулятор ЕГЭ */
.ege__container {
    color: white;
    /* height: 600px; */
    background: #44ABFF;

    padding: 32px 100px;
}

.ege__text {
    font-size: 26px;
    font-weight: 300;
}

.ege__text > h1 {
    font-size: 62px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
}

.ege__text > p {
    text-align: center;
}

.ege__filters {
    margin-top: 48px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 8px;
}

.ege__filter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 325px;
    height: 54px;

    color: #575757;
    background: rgba(255, 255, 255, 0.27);
    border: 4px solid #575757;
    border-radius: 33px;

    font-weight: 700;
    font-size: 20px;

    text-align: center;
}

.ege__filter:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    /* color: white !important; */
}

#fmath {
    color: #0500FF;
    border-color: #0500FF;
}
#fmath.activated {
    color: white;
    background-color: #0500FF;
}

#fit {
    color:#3400C9;
    border-color: #3400C9;
}
#fit.activated {
    color: white;
    background-color: #3400C9;
}

#frus {
    color:#F5D000;
    border-color: #F5D000;
}
#frus.activated {
    color: white;
    background-color: #F5D000;
}

#finyaz {
    color:#CC160C;
    border-color: #CC160C;
}
#finyaz.activated {
    color: white;
    background-color: #CC160C;
}

#fhistory {
    color:#C95014;
    border-color: #C95014;
}
#fhistory.activated {
    color: white;
    background-color: #C95014;
}

#fobshestvo {
    color:#7D2E06;
    border-color: #7D2E06;
}
#fobshestvo.activated {
    color: white;
    background-color: #7D2E06;
}

#fphys {
    color:#002198;
    border-color: #002198;
}
#fphys.activated {
    color: white;
    background-color: #002198;
}

#fgeo {
    color:#61008E;
    border-color: #61008E;
}
#fgeo.activated {
    color: white;
    background-color: #61008E;
}

#fbio {
    color:#0E873C;
    border-color: #0E873C;
}
#fbio.activated {
    color: white;
    background-color: #0E873C;
}

#fchem {
    color:#0A726A;
    border-color: #0A726A;
}
#fchem.activated {
    color: white;
    background-color: #0A726A;
}

.ege__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 


    margin-top: 32px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.ege__input > input {
    color: white;

    font-weight: 600;
    font-size: 70px;
    line-height: 82px;

    border: 0;
    border-bottom: 6px solid white ;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.3);

    text-align: center;
    letter-spacing: 0.055em;

    /* width: 332px; */
    width: 400px;
    height: 100px;

    margin-bottom: 32px;
}

.btn.ege {
    width: 500px;
    background: #ffffff;
    /* border: 3px solid #79C6FF; */
    box-shadow: none;
    color:  #44ABFF;
}

.btn.ege:hover {
    background: #4fcaff;
    /* border: 3px solid #79C6FF; */
    box-shadow: none;
    color:  #ffffff;
}

/* Основной контент */
.courses__container {
    height: 1024px;
    
}

.courses__panel {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    row-gap: 8px;

    padding: 32px 100px;
    background-color: #E5E5E5;
    border-bottom: 2px solid #A6A6A6;
}

.institute {
    display: flex; 
    align-items:center;
    justify-content: center;
    text-align: center;

    width: 210px;

    font-weight: 500;
    font-size: 18px;

    color: #747474;
    /* background-color: yellow; */

    padding-bottom: 16px;

    height: 100px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.institute:hover {
    color: #44ABFF;
    border-bottom: 4px solid #44ABFF;
}


.courses__main {
    background-color: #EFEFEF;
}


.side__menu__container{
    width: 588px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0 4px 56px rgba(0, 0, 0, 0.05);
    border-radius: 37px;
    margin-top: 59px;
    margin-left: 81px;
}

.side__menu__directions{
    display: flex;
    flex-flow: column;
    justify-content: left;

    row-gap: 0px;
    padding: 44px 0 44px 0;
}

.directions{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    padding: 44px;
    /*background: #00FF00;*/

}

.directions:hover{
    color: #44ABFF;
    border-bottom: 4px solid #44ABFF;
}

.directions.activated{
    color: #FFFFFF;
    background: #44ABFF;
}