.main {
    /* display: none; */
    height: 640px;
}

.main__container {
    margin-top: 84px;
}

.main__bg {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    font-size: 40vw;
    font-weight: 700;
    line-height: 95.9%;

    max-width: 1920px;

    color: rgba(212, 235, 240, 0.47);

    z-index: -5;
}

.main__logo {
    text-align: center;
}

.main__logo__text__top {
    font-size: 48px;
    font-weight: 500;
    
    letter-spacing: 0.095em;
    line-height: 95.9%;

    color: #7B93A7;
    
}

.main__logo__text__main {
    margin-top: -48px;

    font-size: 224px;
    font-weight: 900;
    line-height: 280px;

    background-image: url("../images/logoMain.jpg");
    background-position: center;
    background-size: 800px;
    /*background-size: cover;*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main__logo__text__bottom {
    margin-top: -8px;
    font-weight: 300;
    font-size: 24px;
    line-height: 39px;
}

.main__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 36px;
    margin-top: 48px;
    
}

@media screen and (max-width: 640px) {
    .main {
        /* display: none; */
        height: auto;
        margin-bottom: 64px;
    }

    .main__bg {
        display: none;
    }

    .main__buttons {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin-top: 64px;
        
    }

    .main__logo__text__top {
        /* font-size: 21px; */
        font-size: 5.3vw;
        /* background-size: 80px; */
    }
    
    .main__logo__text__main {
        font-size: 25vw;
        /* font-size: 100px; */
        line-height:normal;
        /* line-height: 120px; */
        margin-top: -12px; 
    }
    
    .main__logo__text__bottom {
        /* margin-top: 8px; */
        margin-top: -2px; 
        font-weight: 300;
        font-size: 5vw;
        line-height: 39px;
    }
}