
<!doctype html>
    <html lang="en">
    <head>
        <!--meta http-equiv="refresh" content="1"-->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--Подключаемые библиотеки-->
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/basement.css">
        <title>Калькулятор ЕГЭ</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logoSurgu"> <img src="static/images/logoSurgu.svg">
                    <div id="text-header-one">Бюджетное учреждение высшего образования Ханты-Мансийского автономного оркуга - Югры</div>
                    <div id="text-header-two"> Сургутский Государственный университет</div>
                </div>

                <ul class="mediaBar">
                    <a href="https://vk.com/surgu" target="_blank"><li id="vk"><img src="static/images/logoTopVk.svg"></li></a>
                    <a href="https://www.facebook.com/surgu.university/" target="_blank"><li id="facebook"><img src="static/images/logoTopFacebook.svg"></li></a>
                    <a href="https://www.youtube.com/user/SurgutUniversity" target="_blank"><li id="youtube"><img src="static/images/logoTopYoutube.svg"></li></a>
                    <a href="https://instagram.com/surgu/" target="_blank"><li id="instagram"><img src="static/images/logoTopInstagram.svg"></li></a>
                </ul>
            </div>
        </header>

        <div>
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
            © Все права защищены. Сургутский государственный университет, 2021
            Сайт разработан и поддерживается командой MARK TEAM
            Техподдержка: vadim.kadyrin@mail.ru
        </div>

        <div class="basement">
            <ul class="mediaBottomBar">
                <a href="https://vk.com/surgu" target="_blank"><li><img src="static/images/logoBottomVk.svg"></li></a>
                <a href="https://www.facebook.com/surgu.university/" target="_blank"><li><img src="static/images/logoBottomFacebook.svg"></li></a>
                <a href="https://www.youtube.com/user/SurgutUniversity" target="_blank"><li><img src="static/images/logoBottomYoutube.svg"></li></a>
                <a href="https://instagram.com/surgu/" target="_blank"><li><img src="static/images/logoBottomInstagram.svg"></li></a>
            </ul>
            <div id="text-bottom-one">
                © Все права защищены. Сургутский государственный университет, 2021
                Сайт разработан и поддерживается командой MARK TEAM
                Техподдержка: vadim.kadyrin@mail.ru
            </div>
        </div>
    </body>
</html>
